.blog {
  width: 600px;
  height: 350px;
  padding: 8px;
  border: 5px solid black;
  background-color: grey;
  position: relative;
  left: 625px;
}
.blog-title {
    position: absolute;
    top: 5%;
    bottom: 96%;
    text-align: center;
}
.blog-desc {
    position: absolute;
    top: 15%;
    bottom: 50%;
    left: 10%;
    right: 10%;
    font-size: 20px;
}
.blog-link {
    position: absolute;
    top: 85%;
    left: 35%;
}
.blog-img {
    position: absolute;
    width: 50%;
    height: 50%;
    max-width: 50%;
    max-height: 50%;
    top: 40%;
    left: 25%;
}


.title {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 80px;
  }

/* Had IDs here, no longer needed after using brain for half a second */